<table>
    <h1>G00413791</h1>
    <h1>Welcome to the home page !</h1>

    <tr>
        <h2><a href="/students">Students</a></h2>
    </tr>
    <tr>
        <h2><a href="/grades">Grades</a></h2>
    </tr>
    <tr>
        <h2><a href="/lecturers">Lecturers</a></h2>
    </tr>
</table>