<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table>
    <h1>Lecturers</h1>
    <tr><a href="/">Home</a></tr>
        <tr>
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Department ID</th>
            <th>Action</th>

        </tr>
        <% LecturerList.forEach((Lecturer) =>{ %>
            <tr>
                <td><%= Lecturer._id %></td>
                <td><%= Lecturer.name %></td>
                <td><%= Lecturer.did %></td>
                <td><a href="/lecturers/delete/<%= Lecturer._id %>">Delete</a></td>
            </tr>
        <% }) %>
</table>
    