<h1>Add Student</h1>
<% if (errors && errors.length > 0) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error %></li>
        <% }) %>
    </ul>
<% } %>

<form action="/students/add" method="POST">
    <label for="sid">Student ID: </label>
    <input type="text" name="sid"  required>
    <br>
    <label for="name">Name: </label>
    <input type="text" name="name"  required>
    <br>
    <label for="age">Age: </label>
    <input type="number" name="age"  required>
    <br>
    <input type="submit" value="Add">
    
</form>