<style>
    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 4px;
    }
</style>

<table>
    <h1>Students</h1>
    <tr><a href="/">Home</a></tr>
    <br>
    <tr><a href="/students/add">Add Student</a></tr>
  
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>

    </tr>
    <% studentList.forEach((student) =>{ %>
        <tr>
            <td style="border: 1px solid black;"><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><a href="/students/edit/<%= student.sid %>">Update</a></td>
            </tr>
    <% }) %>
</table>
